﻿@page
@model ContosoUniversity.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2><b>Register</b></h2>

<form method="post">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 ">
            <label asp-for="inputtt.FName" class="control-label">First Name</label>
        </div>
        <div class="col-sm-7">
            <input type="text" class="form-control" asp-for="inputtt.FName" placeholder="Nicha">
        </div>
        <div class="col-sm-2"></div>
    </div><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 ">
            <label asp-for="inputtt.LName" class="control-label">Last Name</label>
        </div>
        <div class="col-sm-7">
            <input type="text" class="form-control" asp-for="inputtt.LName" placeholder="Nina">
        </div>
        <div class="col-sm-2"></div>
    </div><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 ">
            <label asp-for="inputtt.Course" class="control-label">Course Name</label>
        </div>
        <div class="col-sm-7">
            <input type="text" class="form-control" asp-for="inputtt.Course" placeholder="ASP.NET For Beginner">
        </div>
        <div class="col-sm-2"></div>
    </div><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 ">
            <label asp-for="inputtt.Credit" class="control-label">Credit</label>
        </div>
        <div class="col-sm-7">
            <input type="text" class="form-control" asp-for="inputtt.Credit" placeholder="1-4">
        </div>
        <div class="col-sm-2"></div>
    </div><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 ">
            <label asp-for="inputtt.Grade" class="control-label">Grade</label>
        </div>
        <div class="col-sm-7">
            <input type="text" class="form-control" asp-for="inputtt.Grade" placeholder="A,B,C,D">
        </div>
        <div class="col-sm-2"></div>
    </div><br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-5">
            <input class="btn btn-primary btn-lg" type="submit" name="btn_reg_save" asp-page-handler="Schedule" value="Confirm" />
        </div>
        <div class="col-lg-5"></div>

    </div>
</form>
