﻿@page
@model ContosoUniversity.Pages.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
}

<h2 >Schedule / Learning Course</h2>

<table class="table table-bordered">
    <tr>
        <th>Full Name</th>
        <th>Course</th>
        <th>Credit</th>
        <th>Enrollment Date</th>
        <th>Grade</th>
        <th></th>
    </tr>
    @foreach (var stu in Model.enrollment)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => stu.Student.FirstMidName)</td>
        <td>@Html.DisplayFor(modelItem => stu.Student.LastName)</td>
        <td> @Html.DisplayFor(modelItem => stu.Course.Title)</td>
        <td> @Html.DisplayFor(modelItem => stu.Student.EnrollmentDate)</td>
        <td> @Html.DisplayFor(modelItem => stu.Grade)</td>
        <td>
            <a href="#"> Edit</a>
            <a href="#"><u />Delete</a>
        </td>
    </tr>
    }

</table>

